@media only screen and (max-width: 1024px){
    
    .mobile-menu span{
        display: block !important;
    }
    
    
    .row{
        margin: 0 2rem !important;
    }
    .main-nav{
        display: none;
    }
    .contact-section form{
        width: 100% !important;
        margin-left: 0 !important;
    }
    html{
        font-size: 57.5%;
    }
    .client-photo{
        width: 100% !important;
        float: none !important;
        text-align: center !important;
    }
    .client-review{
        text-align: center !important;
        width: 100% !important;
        float: none !important;
    }
    .hero-text-box{
        width: 90% !important;
    }
}

@media only screen and (max-width: 980px){
    .span_1_of_4{
        width: 49.2% !important;
    }
    .span_1_of_4:nth-child(3){
        margin-left: 0 !important;
    }
    html{
        font-size: 62.5% !important;
    }
}

@media only screen and (max-width: 768px){
    .little-description{
        width: 100 !important;
        font-size: 1.4rem !important;
    }
    h1{
        font-size: 3.5rem !important;
    }
    h2{
        font-size: 3rem !important;
    }
    h3{
        font-size: 2rem !important;
    }
}
@media only screen and (max-width: 480px){
    .span_1_of_4{
        width: 100% !important;
    }
    h1{
        font-size: 3rem !important;
    }
    h2{
        font-size: 2.6rem !important;
    }
    h3{
        font-size: 2rem !important;
    }
}